
/* navbar */

nav {
  display: inline;
  font-family: "Rollgates Fabulous" !important;
  font-size: 40px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

nav li a.studionaam {
  text-align: left;
  display: inline;
  align-self: left;
  font-family: "Rollgates Fabulous" !important;
  font-size: 40px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

ul {
  position: sticky;
  top: 0;
}

li {
  display: inline;
  text-align: right;
}


a {
  color: black;
  margin-right: 2rem;
  margin-left: 2rem;
}

li a:hover {

  color: rgb(0, 4, 255);
  text-decoration: none;
}

li a:active {

  color: rgb(0, 3, 205);
  text-decoration: none;
}

/* dropdown */

li a,
.dropbtn {
  display: inline-block;
  padding: 1px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  /* box styling */
  display: none;
  position: absolute;
  background-color: none;

  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding-left: auto;
  padding-right: auto;
  display: block;

  font-family: "Rollgates Fabulous" !important;
  font-size: 20px !important;
  ;

  text-decoration: none;
  text-align: right;
  align-items: right;
  align-self: right !important;
}

.dropdown-content a:hover {
  background-color: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* section */

div p.introduction {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;

  padding-bottom: 50px;
  text-align: center !important;
}

h4 {
  text-align: center;
  font-style: normal;
  font-family: "Rollgates Fabulous" !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}


/* my photo grid thingy */

.container {
  align-self: center !important;
  justify-content: center !important;
}

.column a img {

  box-shadow: 0px 3px 9px #0000000D;
  opacity: 1;
}

/* RESPONSIVE SIDE !!!! */
/* tablet format? */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* gsm format? */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* FOOTER */

footer {

  text-align: left;
  text-decoration: none;
  font-size: smaller;
  font-weight: bolder;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;

  padding-left: 15px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;

  background-color: white;
}